{% extends "base.html" %}
{% block content %}
    <h1>Applications</h1>
    <script type = 'text/javascript'>
        function accept(button_id) {
            console.log(button_id);
            $.ajax({
                url: "{{url_for('test_accept')}}",
                type: "POST",
                data: JSON.stringify({b: button_id}),
                contentType: "application/json; charset=utf-8",
                success: function(data) { console.log(data); }
            });
        }
        function reject(button_id) {
            console.log(button_id);
            $.ajax({
                url: "{{url_for('test_reject')}}",
                type: "POST",
                data: JSON.stringify({b: button_id}),
                contentType: "application/json; charset=utf-8",
                success: function(data) { console.log(data); }
            });
        }
    </script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            {{ view_html | safe}}
        </p>
    </form>
    <a class="btn btn-primary" href="{{url_for('main_admin')}}" >Back</a>
{% endblock %}
