{% extends "base.html" %}
{% block content %}
    <h1>Application Report</h1>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <p>
        {{ view_html | safe}}
    </p>
    <button class="btn btn-primary" onclick="window.location.href='{{url_for('main_admin')}}'">Back</button>
{% endblock %}
