{% extends "base.html" %}
{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <br>
        <p>
            <b>Current Major:</b> {{curr_major}}<br>
            {{ form.new_major.label }}:
            {{ form.new_major() }}<br>
        </p>
        <p>
            <b>Current Year:</b> {{curr_year}}<br>
            {{ form.new_year.label }}:
            {{ form.new_year() }}<br>
        </p>
        <p>
            <b>Current Department:</b> {{curr_dept}}<br>
            <b>New Department:</b> {{dept}}
        </p>
        <br>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
    <button class="btn btn-primary" onclick="window.location.href='{{url_for('me_student')}}'">Back</button>
{% endblock %}
