{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        var categories = [];
        function myfunc() {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "checkbox") {
                    if (inputs[i].checked) {
                        categories.push(inputs[i].value);
                    }
                }
            }
            $.ajax({
                url: "{{url_for('test_search')}}",
                type: "POST",
                data: JSON.stringify({cat_results: categories}),
                contentType: "application/json; charset=utf-8",
                success: function(data) { console.log(data); }
            });
        }
    </script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>Main Page</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}:<br>
            {{ form.title(size=40) }}<br>
        </p>
        <p>
            <label for="category">Category</label>:<br>
            {{ category_html | safe }}
        </p>
        <p>
            {{ form.designation.label }}:<br>
            {{ form.designation() }}<br>
        </p>
        <p>
            {{ form.major.label }}:<br>
            {{ form.major() }}<br>
        </p>
        <p>
            {{ form.year.label }}:<br>
            {{ form.year() }}<br>
        </p>
        <p>
            {{ form.choice(size=5) }}<br>
        </p>
        <p><input type="submit" value="Apply Filter" onclick="myfunc()"></p>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        {{ table_html | safe }}
    </table>
{% endblock %}
