{% extends "base.html" %}
{% block content %}
    <h1>View and Apply Project</h1>
    <h3>{{ project_name }}</h3>
    <p>
        <b>Advisor:</b> {{ advfName }} {{ advlName }} ({{ advEmail }})
    </p>
    <p>
        <b>Description:</b>
        {{ description }}
    </p>
    <p>
        <b>Designation:</b> {{ desigName }}
    </p>
    <p>
        <b>Category:</b> {{ category }}
    </p>
    <p>
        <b>Requirements:</b> {{ requirements }}
    </p>
    <p>
        <b>Estimated number of students:</b> {{ estNum }}
    </p>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p><input type="submit" value="Apply"></p>
    </form>
    <button onclick="window.location.href='{{url_for('main_student')}}'">Back</button>
{% endblock %}
