{% extends "base.html" %}
{% block content %}
    <h1>Login</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}:<br>
            {{ form.username(size=40) }}<br>
        </p>
        <p>
            {{ form.password.label }}:<br>
            {{ form.password(size=40) }}<br>
        </p>
        <p><input class="btn btn-primary" type="submit" value="Login"></p>
    </form>
    <button class="btn btn-primary" onclick="window.location.href='{{url_for('register')}}'">Register</button>
{% endblock %}
